@charset "utf-8";

/*====================================================================

01.format
02.common
03.top
04.low common
05.works
06.company
07.recruit
08.news
09.blog
10.contact
11.thanks
12.results
13.results（水のトラブル）
14.results（お困りごとはありませんか？）

=====================================================================*/

/* 01.format
-------------------------------------------------- */
@mixin wrap {
  width: 980px;
  margin: 0 auto;
}

$fc01: #1b1b1b;
$fc02: #409a74;
$fc03: #443b3c;
$bdc: #cacaca;
$bgc: #f0efef;
$support-ie6: false;
$support-ie7: true;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit: true;
$support-opera: true;
@mixin clearfix {
  @if $support-ie6 or $support-ie7 {
    *zoom: 1;
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

$bm: 10px;
$bp: 10px;
$fs: 13px;
$lh: 1.538;
@mixin mt($bm: 10px, $fs: 13px, $lh: 1.538) {
  margin-top: calc(#{$bm} - (((#{$fs} * #{$lh}) - #{$fs}) / 2));
}
@mixin mb($bm: 10px, $fs: 13px, $lh: 1.538) {
  margin-bottom: calc(#{$bm} - (((#{$fs} * #{$lh}) - #{$fs}) / 2));
}
@mixin pt($bp: 10px, $fs: 13px, $lh: 1.538) {
  padding-top: calc(#{$bp} - (((#{$fs} * #{$lh}) - #{$fs}) / 2));
}
@mixin pb($bp: 10px, $fs: 13px, $lh: 1.538) {
  padding-bottom: calc(#{$bp} - (((#{$fs} * #{$lh}) - #{$fs}) / 2));
}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  font-size: 13px;
  line-height: 1;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  color: $fc01;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

ol, ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  text-decoration: none;
  vertical-align:baseline;
  background:transparent;
  color: $fc01;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

img {
  vertical-align: top;
  font-size:0;
  line-height: 0;
}


/* 02.common
-------------------------------------------------- */
.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

.inner {
  @include clearfix;
  @include wrap;
}

#header {
  margin-bottom: 3px;
  background: url("../img/header_bg.gif");
  .inner {
    position: relative;
    h1 {
      padding: 6.5px 0;
      margin-bottom: 15px;
      font-size: 12px;
      font-weight: normal;
      color: #fff;
    }
    .hlogo {
      width: 353px;
      margin-right: 120px;
      margin-bottom: 45px;
    }
    .unit {
      width: 205px;
      margin-top: 5px;
      .subnav01,
      .subnav02 {
        a {
          display: block;
          padding: 6px 16px;
          border-radius: 2px;
          background-color: #eeeeee;
        }
      }
    }
    .hcnt_btn {
      position: absolute;
      top: 0;
      right: 0;
    }
    #gnav {
      clear: both;
      ul {
        li {
          float: left;
        }
      }
    }
  }
}

#wrap {
  @include clearfix;
  @include wrap;
  .main {
    @include clearfix;
    float: left;
    width: 715px;
  }
  #sidebar {
    @include clearfix;
    float: right;
    width: 220px;
    .sbnr {
      margin-bottom: 12px;
    }
    .scnt {
      padding: 25px 20px 16px;
      background: url("../img/scnt_bg.jpg") 0 0 no-repeat;
      .txt {
        @include mt($bm:12px);
        @include mb($bm:16px);
        line-height: 1.538;
      }
      .tel {
        margin-bottom: 13px;
        span {
          font-size: 22px;
        }
      }
    }
    .sblog {
      .old_blog a:hover {
        text-decoration: underline;
      }
    }
    .sblog,
    .srst {
      margin-bottom: 40px;
      h4 {
        padding: 11px 16px;
        text-align: center;
        color: #fff;
        background: url("../img/low/sarcttl_bg.gif") 0 0 no-repeat;
      }
      ul {
        li {
          padding: 15px 0;
          background: url("../img/low/mark.gif") 100% center no-repeat;
          border-bottom: 1px dotted #000;
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  #to_top {
    clear: both;
    float: right;
    width: 72px;
    padding: 100px 0 10px;
  }
}

#footer {
  background: url("../img/footer_bg.gif");
  .inner {
    position: relative;
    height: 328.5px;
    @include pt($bp:20px);
    .txt {
      @include mb($bm:35px);
      line-height: 1.538;
    }
    #fnav {
      width: 360px;
      ul {
        li {
          padding-left: 20px;
          margin-bottom: 13px;
          font-weight: bold;
          background: url("../img/mark02.gif") 0 center no-repeat;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            font-weight: bold;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .unit {
      width: 280px;
      dl {
        dt {
          margin-bottom: 12px;
        }
        dd {
          margin-bottom: 12px;
          &:last-of-type {
            margin-bottom: 20px;
          }
        }
      }
    }
    .cr {
      clear: both;
      position: absolute;
      right:0px;
      bottom:0px;
      left:0px;
      padding-bottom: 12px;
      text-align: center;
      color: #fff;
    }
  }
}

/* 03.top
-------------------------------------------------- */
#mimg {
  margin-bottom: 50px;
  background: url("../img/top/mimg_bg.jpg") center 0 ;
}
#wrap {
  #top {
    p {
      line-height: 1.538;
    }
    .tsection {
      @include clearfix;
      margin-bottom: 60px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .section_ttl {
        padding-top: 15px;
        margin-bottom: 25px;
        background: url("../img/section_ttl_bg.gif") 0 0 no-repeat;
      }
    }
    #tproduct {
      @include mb($bm:60px);
      ul {
        li {
          float: left;
          width: 215px;
          @include mb($bm:15px);
          &:nth-child(3n-1) {
            margin: 0 35px;
            @include mb($bm:15px);
          }
          &:nth-child(n+4) {
            margin-bottom: 0;
          }
          .img {
            margin-bottom: 10px;
          }
          h3 {
            padding-left: 18px;
            @include mb($bm:15px);
            font-size: 15px;
            font-weight: bold;
            background: url("../img/top/mark.gif") 0 0 no-repeat;
            a{
              color: $fc02;
              &:hover {
                text-decoration: underline;;
              }
            }
          }
        }
      }
    }
    #tnews {
      .article_area {
        dl {
          @include clearfix;
          padding: 15px 0;
          border-bottom: 1px dotted #000;
          dt {
            float: left;
            clear: left;
            padding-right: 50px;
            font-size: 14px;
            font-weight: bold;
            color: $fc02;
          }
          dd {
            float: left;
            font-size: 14px;
            h3 {
              font-weight: normal;
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
        article:first-of-type {
          dl {
            padding-top: 0;
          }
        }
      }
    }
  }
}

/* 04.low common
-------------------------------------------------- */
#low_mimg {
  margin-bottom: 12px;
  background: url("../img/low/mimg_bg.jpg") center 0 no-repeat;
  .inner {
    padding: 60px 0 70px;
  }
}

#breadcrumb {
  @include wrap;
  margin-bottom: 12px;
  ol {
    text-align: right;
    li {
      display: inline-block;
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

#wrap {
  .low {
    .lsection {
      @include clearfix;
      margin-bottom: 60px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .section_ttl {
        padding-top: 22px;
        margin-bottom: 30px;
        font-size: 28px;
        font-weight: lighter;
        color: $fc03;
        background: url("../img/section_ttl_bg.gif") 0 0 no-repeat;
      }
      .stmb {
        @include mb($bm:30px,$lh:1.692);
      }
      .unit_ttl {
        padding: 13.5px 0 13.5px 28px;
        margin-bottom: 20px;
        font-weight: bold;
        color: $fc02;
        background: url("../img/low/h4ttl_bg.jpg") 0 0 no-repeat;
      }
      .tbl {
        width: 100%;
        line-height: 1.692;
        tr {
          th {
            width: 165px;
            padding-left: 15px;
            text-align: left;
            font-weight: normal;
            background-color: $bgc;
            border: 1px solid $bdc;
          }
          td {
            @include pt($bp:15px,$lh:1.692);
            @include pb($bp:15px,$lh:1.692);
            padding-left: 15px;
            border: 1px solid $bdc;
          }
        }
      }
    }
  }
}

/* 05.works
-------------------------------------------------- */
#wrap {
  #works {
    p {
      line-height: 1.692;
    }
    #section {
      .txt01 {
        @include mb($bm:35px,$lh:1.692);
      }
      .unit {
        @include clearfix;
        position: relative;
        margin-bottom: 30px;
        &:last-of-type {
          margin-bottom: 0;
        }
        .box {
          width: 370px;
          .txt02 {
            @include mb($bm:30px,$lh:1.692);
          }
          h5 {
            color: $fc02;
            @include mb($bm:10px,$lh:1.692);
          }
          .txt03 {
            @include mb($bm:20px,$lh:1.692);
          }
          .detail_btn {
            a {
            display: block;
            padding: 13px 30px;
            font-weight: bold;
            color: #fff;
            background-color: $fc02;
            }
          }
        }
        &:nth-of-type(n+4) {
          .box .detail_btn {
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}

/* 06.company
-------------------------------------------------- */
#wrap {
  #company {
    #section02 {
      .unit {
        padding-bottom: 15px;
        margin-bottom: 25px;
        border-bottom: 1px dotted #000;
        &:last-of-type {
          margin-bottom: 0;
        }
        h4 {
          padding-left: 20px;
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: bold;
          color: $fc02;
          background: url("../img/mark.gif") 0 0 no-repeat;
        }
        .gmap {
          margin-bottom: 20px;
        }
      }
    }
  }
}

/* 07.recruit
-------------------------------------------------- */
#wrap {
  #recruit {
    #section01 {
      .txt_area01 {
        @include mb($bm:20px,$lh:1.692);
        p {
          font-size: 22px;
          font-weight: bold;
        }
        .txt {
          margin-bottom: 14px;
        }
      }
      .txt_area02 {
        @include mb($bm:20px,$lh:1.692);
        p {
          line-height: 1.692;
        }
      }
    }
    #section02 {
      .tbl {
        margin-bottom: 50px;
      }
      .cnt_btn {
        a {
          display: block;
          width: 302px;
          padding: 23.5px 15px;
          margin: 0 auto;
          font-size: 15px;
          font-weight: bold;
          color: #fff;
          background: url("../img/recruit/cntbtn_bg.jpg") 0 0 no-repeat;
        }
      }
    }
  }
}

/* 08.news
-------------------------------------------------- */
#wrap {
  #news {
    #section {
      .article_area {
        margin-bottom: 40px;
        dl {
          @include clearfix;
          padding: 15px 0;
          border-bottom: 1px dotted #000;
          dt {
            float: left;
            clear: left;
            padding-right: 50px;
            font-size: 14px;
            font-weight: bold;
            color: $fc02;
          }
          dd {
            float: left;
            font-size: 14px;
            h3 {
              font-weight: normal;
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
        article:first-of-type {
          dl {
            padding-top: 0;
          }
        }
      }
    }
    .article {
      .ttl_area {
        @include clearfix;
        padding-bottom: 15px;
        @include mb($bm:25px,$lh:1.692);
        font-size: 14px;
        border-bottom: 1px dotted #000;
        .date {
          float: left;
          padding-right: 50px;
          font-weight: bold;
          color: $fc02;
        }
        h3 {
          float: left;
          font-weight: normal;
        }
      }
      .txt_area {
        @include mb($bm:50px,$lh:1.692);
        line-height: 1.692;
      }
      .return {
        text-align: right;
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* 09.blog
-------------------------------------------------- */
#blog_mimg {
  margin-bottom: 35px;
  .inner {
    padding-top: 22px;
  }
}

#wrap {
  #blog {
    .article {
      @include mb($bm:40px,$lh:1.692);
      &:last-of-type {
        margin-bottom: 0;
      }
      h3 {
        padding: 13.5px 0 13.5px 28px;
        margin-bottom: 10px;
        font-weight: bold;
        color: $fc02;
        background: url("../img/low/h4ttl_bg.jpg") 0 0 no-repeat;
      }
      .date {
        @include mb($bm:15px,$lh:1.692);
        text-align: right;
        color: $fc02;
      }
      .txt_area {
        line-height: 1.692;
      }
    }
    .pager_area {
      margin-top: 70px;
      ul{
        text-align: right;
        li{
          display: inline-block;
          border: 1px solid $bdc;
          border-radius: 5px;
          .current{
            display: block;
            padding: 15px;
          }
          .inactive{
            display: block;
            padding: 15px;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        .active {
          background-color: #409a74;
          color: #fff;
        }
        .ba{
          a {
            display: block;
            padding: 15px;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

/* 10.contact
-------------------------------------------------- */
#wrap {
  #contact {
    p {
      line-height: 1.692;
    }
    #section01 {
      .txt_area01 {
        @include mb($bm:25px,$lh:1.692);
      }
      .tel_area {
        padding-left: 75px;
        @include mb($bm:35px,$lh:1.692);
        p {
          line-height: 1;
          color: $fc02;
        }
        background: url("../img/contact/tel_icon.gif") 0 0 no-repeat;
        .tel {
          padding-top: 15px;
          margin-bottom: 12px;
          font-size: 36px;
          font-weight: bold;
        }
      }
      .txt_area02 {
        @include mb($bm:30px,$lh:1.692);
        p {
          padding-left:1em;
          text-indent:-1em;
        }
      }
      .tbl_wrap {
        margin-bottom: 30px;
        table {
          width: 100%;
          tr {
            th {
              width: 195px;
              padding: 15px 15px 15px 0;
              text-align: right;
              vertical-align: middle;
              border: 1px solid $bdc;
              background-color: $bgc;
            }
            .req {
              background: $bgc url("../img/contact/required.gif") 15px center no-repeat;
            }
            td {
              padding: 15px 0 15px 20px;
              border: 1px solid $bdc;
              ol .city {
                margin: 5px 0;
              }
            }
          }
        }
      }
      .confirm_btn {
        width: 98px;
        margin: 0 auto;
        .mysubmit {
          border: none !important;
          background: none !important;
          border-radius: 0 !important;
          &:hover {
            box-shadow: none !important;
          }
        }
      }
    }
    #section02 {
      .txt {
        @include mb($bm:30px,$lh:1.692);
      }
      .unit {
        @include mb($bm:30px,$lh:1.692);
        h4 {
          @include mb($bm:10px,$lh:1.692);
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

/* 11.thanks
-------------------------------------------------- */
#wrap {
  #thanks {
    #section {
      .txt_area {
        @include pt($bp:20px,$lh:1.846);
        @include pb($bp:20px,$lh:1.846);
        padding-left: 15px;
        border: 1px solid $fc02;
        p {
          line-height: 1.846;;
        }
        .txt {
          @include mb($bm:20px,$lh:1.846);
        }
      }
    }
  }
}

/* 12.results
-------------------------------------------------- */
#wrap {
  #results {
    p {
      line-height: 1.538;
    }
    .pager_area {
      margin-top: 70px;
      ul{
        text-align: right;
        li{
          display: inline-block;
          border: 1px solid $bdc;
          border-radius: 5px;
          .current{
            display: block;
            padding: 15px;
          }
          .inactive{
            display: block;
            padding: 15px;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        .active {
          background-color: #409a74;
          color: #fff;
        }
        .ba{
          a {
            display: block;
            padding: 15px;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
    #section {
      .section_ttl {
        position: relative;
        span {
          a {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 14px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .section_in {
        @include clearfix;
        margin-bottom: 25px;
        border: 2px solid #348764;
        &:last-of-type {
          margin-bottom: 0;
        }
        .h4ttl {
          padding: 12.5px 0 12.5px 15px;
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          background: url("../img/results/h4ttl_bg.jpg") 0 0 no-repeat;
        }
        .section_body {
          @include clearfix;
          @include pt($bp:18px);
          padding-right: 15px;
          @include pb($bp:18px);
          padding-left: 15px;
          .txt {
            float: left;
            width: 510px;
          }
          .detail_btn {
            float: right;
          }
        }
      }
      .unit {
        @include clearfix;
        margin-bottom: 25px;
        &:last-of-type {
          margin-bottom: 0;
          .catalog {
            padding-bottom: 0;
          }
        }
        .img_area02 {
          li {
            float: left;
            width: 175px;
            margin: 0 5px 5px 0;
            &:nth-child(4n) {
              margin-right: 0;
            }
          }
        }
        .tbl_rst {
          width: 100%;
          tr {
            &:nth-of-type(2n) {
              background-color: $bgc;
            }
            th {
              width: 150px;
              padding: 18px 0 18px 15px;
              text-align: left;
              font-weight: normal;
            }
            td:first-of-type {
              width: 385px;
            }
            &:first-of-type {
              th {
                padding-top: 5px;
              }
            }
          }
        }
        .cp {
          @include mb($bm:30px,$fs:16px);
          font-weight: bold;
          font-size: 16px;
        }
        .txt_area {
          @include mb($bm:30px);
          p {
            &:nth-of-type(2n-1) {
              @include mb($bm:8px);
              line-height: 1;
              font-weight: bold;
            }
            &:nth-of-type(2n) {
              @include mb($bm:10px);
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
        .catalog {
          padding-bottom: 25px;
          margin-bottom: 30px;
          p {
            &:first-of-type {
              margin-bottom: 10px;
              line-height: 1;
              font-weight: bold;
            }
            img {
              vertical-align: middle;
            }
          }
        }
        .img_area {
          @include clearfix;
          p {
            @include mb($bm:20px);
            font-weight: bold;
          }
          ul {
            li {
              float: left;
              width: 230px;
              /*height: auto;
              padding: 0;*/
              margin-bottom: 8px;
              //border: none;
              &:nth-child(3n-1) {
                margin: 0 8px 8px;
              }
            }
          }
        }
      }
    }
  }
}

/* 13.results（水のトラブル）
-------------------------------------------------- */
#wrap {
  #results {
    p {
      line-height: 1.692;
    }
    #wtrb_section {
      .intro_area {
        @include clearfix;
        margin-bottom: 40px;
        .txt_area01 {
          width: 435px;
          ul {
            @include mt($bm:10px,$lh:1.692);
            @include mb($bm:10px,$lh:1.692);
            li {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .unit {
        @include clearfix;
        margin-bottom: 25px;
        &:last-of-type {
          margin-bottom: 0;
        }
        .txt {
          @include mb($bm:17px,$lh:1.692);
        }
        .trb_list {
          width: 488px;
          padding: 20px 0 20px 20px;
          @include mb($bm:25px,$lh:1.692);
          background-color: $bgc;
          border: 1px solid $fc02;
          li {
            margin-bottom: 10px;
            &:last-of-type {
              margin-bottom: 0;
            }
            span {
              color: $fc02;
            }
          }
        }
        .txt_area02 {
          @include mb($bm:20px,$lh:1.692);
        }
        .txt_area03 {
          margin-bottom: 30px;
          p {
            margin-bottom: 10px;
            line-height: 1;
            font-size: 19px;
            font-weight: bold;
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
        .box {
          @include clearfix;
          padding: 20px 20px;
          margin-bottom: 15px;
          background-color: $bgc;
          &:last-of-type {
            margin-bottom: 0;
          }
          .box_in {
            width: 430px;
            height: 145px;
            h5 {
              margin-bottom: 18px;
              font-size: 15px;
              font-weight: bold;
              color: $fc02;
            }
            ul {
              li {
                display: inline-block;
                margin-bottom: 10px;
              }
            }
          }
          .img {
            padding-top: 5px;
          }
        }
      }
    }
  }
}

/* 14.results（お困りごとはありませんか？）
-------------------------------------------------- */
#wrap {
  #results {
    p {
      line-height: 1.692;
    }
    #trb_section {
      .section_in {
        @include clearfix;
        margin-bottom: 25px;
        border: 2px solid #348764;
        &:last-of-type {
          margin-bottom: 0;
        }
        .h4ttl {
          padding: 12.5px 0 12.5px 15px;
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          background: url("../img/results/h4ttl_bg.jpg") 0 0 no-repeat;
        }
        .section_body {
          @include clearfix;
          @include pt($bp:18px);
          padding-right: 15px;
          @include pb($bp:18px);
          padding-left: 15px;
          .txt {
            float: left;
            width: 510px;
          }
          .detail_btn {
            float: right;
          }
        }
      }
      .unit {
        .txt01 {
          @include mb($bm:30px,$lh:1.692);
          line-height: 1;
          font-size: 16px;
          font-weight: bold;
        }
        .txt_area01 {
          @include mb($bm:35px,$lh:1.692);
        }
        .box {
          @include clearfix;
          margin-bottom: 20px;
          &:last-of-type {
            margin-bottom: 0;
          }
          h5 {
            margin-bottom: 10px;;
          }
          .h5ttl {
            @include mb($bm:10px,$lh:1.692);
          }
          .txt02 {
            @include mb($bm:20px,$lh:1.692);
          }
          .img {
            margin-bottom: 20px;
          }
          .img_area {
            img:first-of-type {
              margin-right: 7px;
            }
          }
          ul {
            @include mb($bm:30px,$lh:1.692);
            li {
              margin-bottom: 10px;
              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
          .txt_area02 {
            @include mb($bm:30px,$lh:1.692);
          }
        }
      }
    }
  }
}