@charset "utf-8";

/*====================================================================

01.format
02.common
03.top
04.low common
05.company
06.recruit
07.blog
08.contact
09.works

=====================================================================*/

/*  01.format
-------------------------------------------------- */
 @mixin wrap {
  width: 94.4%;
  margin: 0 auto;
}

$fc01: #1b1b1b;
$fc02: #409a74;
$bdc01: #409a74;
$bdc02: #dcdcdc;
$bgc01: #eeeeee;
$support-ie6: false;
$support-ie7: true;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit: true;
$support-opera: true;
@mixin clearfix {
  @if $support-ie6 or $support-ie7 {
    *zoom: 1;
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

$breakpoint-max: 400px;
@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

$breakpoint-min: 399px;
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

$bm: 10px;
$bp: 10px;
$fs: 13px;
$lh: 1.545;
@mixin mt($bm: 10px, $fs: 13px, $lh: 1.545) {
  margin-top: calc(#{$bm} - (((#{$fs} * #{$lh}) - #{$fs}) / 2));
}
@mixin mb($bm:10px, $fs:13px, $lh:1.545) {
  margin-bottom: calc(#{$bm} - (((#{$fs} * #{$lh}) - #{$fs}) / 2));
}
@mixin pt($bp: 10px, $fs: 13px, $lh: 1.545) {
  padding-top: calc(#{$bp} - (((#{$fs} * #{$lh}) - #{$fs}) / 2));
}
@mixin pb($bp: 10px, $fs: 13px, $lh: 1.545) {
  padding-bottom: calc(#{$bp} - (((#{$fs} * #{$lh}) - #{$fs}) / 2));
}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body{
  line-height: 1;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  color: $fc01;
  @include min-screen($breakpoint-max) {
    font-size: 13px;
    line-height: 1;
  }
  @include max-screen($breakpoint-min) {
    font-size: 12px;
    line-height: 1;
  }
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

ol, ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  text-decoration: none;
  vertical-align:baseline;
  background:transparent;
  color: $fc01;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
  th {
    font-weight: normal;
    text-align: left;
  }
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
  font-size:0;
  line-height: 0;
}

/*  02.common
-------------------------------------------------- */
.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

#header {
  @include clearfix;
  h1 {
    float: left;
    width: 48.75%;
    padding: 4.93% 0 4.93% 2.77%;
  }
  .unit {
    float: right;
    border-bottom: 1px solid $bdc01;
    #tel_btn {
      float: left;
      border-right: 1px solid $bdc01;
      border-left: 1px solid $bdc01;
      img {
        display: block;
      }
    }
    #menu_btn {
      float: right;
      img {
        display: block;
      }
    }
  }
}
#menu {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 100;
  li {
    background-color: #fff;
    background-color: $bdc01;
    border-top: 1px solid $bdc01;
    border-top: 1px solid #fff;
    &:last-child {
      border-bottom: 1px solid #fff;
    }
    a {
      display: block;
      padding: 10px;
      color: $fc02;
      color: #fff;
      text-decoration: none;
    }
  }
}
#mimg {
  margin-bottom: 3.47%;
}

.main {
  .inner {
    @include clearfix;
    @include wrap;
    p {
      line-height: 1.545;
    }
  }
  .to_top {
    padding: 2.77% 0;
    font-weight: bold;
    background-color: #fac100;
    border-bottom: 2px solid $fc02;
    a {
      display: block;
      width: 85px;
      padding-left: 30px;
      margin: 0 auto;
      font-size: 14px;
      text-align: center;
      background: url("../img/to_top.png") 0 0 no-repeat;
    }
  }
}

#footer {
  .fnav {
    li {
      display: inline-block;
      width: 49.7%;
      width: calc(50% - 1px);
      border-bottom: 2px solid $fc02;
      &:nth-of-type(2n-1) {
        border-right: 1px solid $fc02;
      }
      &:nth-of-type(2n) {
        border-left: 1px solid $fc02;
      }
      a {
        display: block;
        padding: 8.33% 0 8.33% 2.77%;
        background: url("../img/mark.gif") 95% center no-repeat;
        background-size: 4.46% auto;
      }
    }
  }
  .address {
    padding: 3.47% 0;
    padding: 4.166% 0;
    background-color: $bgc01;
    .inner {
      @include wrap;
      p:nth-of-type(2) {
        margin: 1.47% 0;
      }
    }
  }
  .bottom_area {
    background-color: $fc02;
    padding-top: 1.66%;
    .switch {
      @include clearfix;
      padding: 5.5% 0;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      background-color: #fff;
      li {
        width: 50%;
        float: left;
        a {
          display: block;
          text-align: center;
          font-size: 14px;
          font-weight: bold;
        }
        &:first-child a{
          border-right: 2px solid #000;
        }
      }
    }
    .cc {
      padding: 5.55%;
      text-align: center;
      color: #fff;
    }
  }
}

/* 03.top
-------------------------------------------------- */
#top {
  .inner {
    .t_section {
      margin-bottom: 8.82%;
    }
    #t_works {
      .tw_section {
        @include clearfix
        padding: 2.94% 2.94%;
        margin-bottom: 2.94%;
        border: 1px solid $bdc01;
        &:last-of-type {
          margin: 0;
        }
        .img {
          float: left;
          width: 31.6%;
        }
        .unit {
          float: right;
          width: 58.8%;
          width: 65%;
          h2 {
            font-weight: bold;
            @include min-screen($breakpoint-max) {
              margin-bottom: 3.4%;
              @include mb($bm:5%);
            }
            @include max-screen($breakpoint-min) {
              margin-bottom: 3.4%;
              @include mb($bm:5%,$fs:12px);
            }
            a {
              color: $fc02;
              &:hover {
              text-decoration: underline;
              }
            }
          }
        }
      }
    }
    #t_news {
      h2 {
        width: 20%;
        margin-bottom: 2.94%;
      }
      .article_area {
        @include clearfix;
        width: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        .article {
          width: 96%;
          padding-top: 2.94%;
          @include min-screen($breakpoint-max) {
            @include pb($bp:2.94%);
          }
          @include max-screen($breakpoint-min) {
            @include pb($bp:2.94%,$fs:12px);
          }
          border-bottom: 1px solid $bdc02;
          &:first-of-type {
            border-top: 1px solid $bdc02;
          }
          dl {
            dt {
              margin-bottom: 1.47%;
              color: $fc02;
            }
            dd {
              line-height: 1.545;
            }
          }
        }
      }
    }
  }
}

/* 04.low common
-------------------------------------------------- */
.low {
  .inner {
    @include clearfix;
    margin-bottom: 13.23%;
    .l_section {
      @include clearfix;
      margin-bottom: 6.61%;
      &:last-of-type {
        margin: 0;
      }
      .h3ttl_a {
        margin-bottom: 3.82%;
        @include mb($bm:4.41%);
        @include max-screen($breakpoint-min) {
          margin-bottom: 3.82%;
          @include mb($bm:4.41%,$fs:12px);
        }
      }
      .h3ttl_b {
        margin-bottom: 4.41%;
      }
      .tbl_wrap {
        table {
          width: 100%;
          line-height: 1.545;
          tr {
            border-bottom: 1px solid $bdc02;
            th {
              width: 30%;
            }
            td {
              padding: 18px 0;
              @include pt($bp:22px);
              @include pb($bp:22px);
              @include max-screen($breakpoint-min) {
                padding: 18px 0;
                @include pt($bp:22px,$fs:12px);
                @include pb($bp:22px,$fs:12px);
              }
            }
            &:first-of-type {
              td {
                padding-top: 0;
              }
            }
          }
        }
      }
    }
  }
}

/* 05.company
-------------------------------------------------- */
#company {
  .inner {
    margin-bottom: 12.71%;
    @include mb($bm:13.23%);
    @include max-screen($breakpoint-min) {
      margin-bottom: 12.75%;
      @include mb($bm:13.23%,$fs:12px);
    }
    #section01 {
      .tbl_wrap {
        tr {
          td {
            p:first-of-type {
                margin-bottom: 3%;
            }
          }
        }
      }
    }
    #section02 {
      .gmap {
        position: relative;
        height: 0;
        padding-bottom: 60%;
        margin-bottom: 3.08%;
        @include mb($bm:3.67%);
        @include max-screen($breakpoint-min) {
          margin-bottom: 3.08%;
          @include mb($bm:3.67%,$fs:12px);
        }
        overflow: hidden;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }
}

/* 06.recruit
-------------------------------------------------- */
#recruit {
  .inner {
    #section01 {
      .cp {
        width: 82.79%;
        margin-bottom: 3.08%;
        @include mb($bm:3.67%);
        @include max-screen($breakpoint-min) {
          margin-bottom: 3.08%;
          @include mb($bm:3.67%,$fs:12px);
        }
      }
      .txt_area {
        margin-bottom: 3.08%;
        @include mb($bm:3.67%);
        @include max-screen($breakpoint-min) {
          margin-bottom: 3.08%;
          @include mb($bm:3.67%,$fs:12px);
        }
      }
      .signature {
        float: right;
        width: 33.23%;
      }
    }
    #section02 {
      .tbl_wrap {
        .rec_tbl {
          margin-bottom: 6.61%;
        }
      }
      .btn {
        width: 75.88%;
        margin: 0 auto;
      }
    }
  }
}

/* 07.blog
-------------------------------------------------- */
#blog_mimg {
  padding: 5.55% 0 11.1%;
  h2 {
    width: 58.33%;
    margin: 0 auto;
  }
}

#blog {
  .inner {
    margin-bottom: 13.23%;
    .article {
      @include clearfix;
      padding-bottom: 3.89%;
      @include pb($bp:4.41%);
      @include max-screen($breakpoint-min) {
        padding-bottom: 3.89%;
        @include pb($bp:4.41%,$fs:12px);
      }
      margin-bottom: 30px;
      border-bottom: 1px solid $bdc02;
      h3 {
        margin-bottom: 2.94%;
        font-weight: bold;
        font-size: 14px;
        color: $fc02;
      }
      .date {
        margin-bottom: 2.42%;
        @include mb($bm:2.94%);
        @include max-screen($breakpoint-min) {
          margin-bottom: 2.42%;
          @include mb($bm:2.94%,$fs:12px);
        }
        line-height: 1;
        color: $fc02;
      }
    }
    .pager {
      .prev {
        float: left;
        width: 17.3%;
      }
      .next {
        float: right;
        width: 16.9%;
      }
    }
  }
}

/* 08.contact
-------------------------------------------------- */
#contact {
  .inner {
    margin-bottom: 12.71%;
      @include mb($bm:13.23%);
      @include max-screen($breakpoint-min) {
        margin-bottom: 12.75%;
        @include mb($bm:13.23%,$fs:12px);
    }
    #section01 {
      .txt_area {
        margin-bottom: 2.63%;
        @include max-screen($breakpoint-min) {
          margin-bottom: 2.63%;
        }
      }
      .txt_area02 {
        @include clearfix;
        margin-bottom: 5.36%;
        @include mb($bm:5.88%);
        @include max-screen($breakpoint-min) {
          margin-bottom: 5.36%;
          @include mb($bm:5.88%,$fs:12px);
        }
        font-weight: bold;
      }
      .tel_btn {
        width: 81.6%;
        margin: 0 auto;
      }
    }
    #section02 {
      .cnt_tbl_wrap {
        margin-bottom: 5.14%;
        table {
          width: 100%;
          tr {
            th {
              display: block;
              width: 50%;
              height: auto;
              margin-bottom: 10px;
              font-weight: bold;
            }
            .req {
              padding: 7.5px 0 7.5px 35px;
              background: url("../img/contact/req_icon.gif") 0 center no-repeat;
            }
            td {
              display: block;
              margin-bottom: 10px;
              input[type="text"], input[type="email"], input[type="tel"] {
                width: 99%;
                height: 30px;
                border: 1px solid #9c9c9c ;
              }
              select {
                margin-left: 5px;
                border: 1px solid #9c9c9c ;
              }
              textarea {
                width: 98%;
                border: 1px solid #9c9c9c ;
              }
              ol li span {
                font-weight: bold;
              }
            }
            &:last-of-type {
              td {
                margin: 0;
              }
            }
          }
        }
      }
      .btn_area {
        .mysubmit {
          display: block;
          margin: 0 auto;
          border: none !important;
          background: none !important;
          border-radius: 0 !important;
          &:hover {
            box-shadow: none !important;
          }
        }
      }
    }
    #section03 {
      .txt01 {
        margin-bottom: 4.48%;
        @include max-screen($breakpoint-min) {
          margin-bottom: 4.92%;
        }
      }
      .unit {
        margin-bottom: 1.89%;
        @include max-screen($breakpoint-min) {
          margin-bottom: 1.97%;
        }
        &:last-of-type {
          margin: 0;
        }
        line-height: 1.545;
        h4 {
          margin-bottom: 0.72%;
          @include max-screen($breakpoint-min) {
            margin-bottom: 0.8%;
          }
        }
        .txt02 {
          margin-bottom: 1.16%;
          @include max-screen($breakpoint-min) {
            margin-bottom: 1.24%;
          }
        }
      }
    }
  }
}

/* 09.works
-------------------------------------------------- */
#works {
  .inner {
    .txt01 {
      margin-bottom: 4.62%;
      @include mb($bm:5.14%);
      @include max-screen($breakpoint-min) {
        margin-bottom: 4.66%;
        @include mb($bm:5.14%,$fs:12px);
      }
    }
    .accordion {
      width:100%;
      li {
        margin-bottom: 2.94%;
        &:last-child {
          margin-bottom: 0;
        }
        h3 {
          span {
            display:block;
            background: url("../img/works/mark_off.gif") 97% center no-repeat;
            background-size: 2.79% auto;
          }
          .open {
            background: url("../img/works/mark_on.gif") 97% center no-repeat;
            background-size: 5% auto;
          }
        }
        .unit {
          display:none;
          padding: 3.67% 0 1.47%;
          .box {
            @include clearfix
            margin-bottom: 3.67%;
            .img {
              float: left;
              width: 45.58%;
              margin-right: 3.67%;
            }
          }
          h4 {
            margin-bottom: 1.97%;
            @include mb($bm:2.5%);
            @include max-screen($breakpoint-min) {
              margin-bottom: 2.01%;
              @include mb($bm:2.5%,$fs:12px);
            }
            color: $fc02;
          }
          .txt02 {
            margin-bottom: 3.15%;
            @include mb($bm:3.67%);
            @include max-screen($breakpoint-min) {
              margin-bottom: 2.01%;
              @include mb($bm:3.19%,$fs:12px);
            }
            font-weight: bold;
          }
          .img02 {
            margin-bottom: 3.67%;
          }
          .detail_btn {
            width: 45%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}