@charset "UTF-8";
/*====================================================================

01.format
02.common
03.top
04.low common
05.company
06.recruit
07.blog
08.contact
09.works

=====================================================================*/
/*  01.format
-------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  color: #1b1b1b;
}

@media screen and (min-width: 400px) {
  body {
    font-size: 13px;
    line-height: 1;
  }
}

@media screen and (max-width: 399px) {
  body {
    font-size: 12px;
    line-height: 1;
  }
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
  color: #1b1b1b;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th {
  font-weight: normal;
  text-align: left;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

/*  02.common
-------------------------------------------------- */
.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

#header {
  *zoom: 1;
}

#header:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#header h1 {
  float: left;
  width: 48.75%;
  padding: 4.93% 0 4.93% 2.77%;
}

#header .unit {
  float: right;
  border-bottom: 1px solid #409a74;
}

#header .unit #tel_btn {
  float: left;
  border-right: 1px solid #409a74;
  border-left: 1px solid #409a74;
}

#header .unit #tel_btn img {
  display: block;
}

#header .unit #menu_btn {
  float: right;
}

#header .unit #menu_btn img {
  display: block;
}

#menu {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 100;
}

#menu li {
  background-color: #fff;
  background-color: #409a74;
  border-top: 1px solid #409a74;
  border-top: 1px solid #fff;
}

#menu li:last-child {
  border-bottom: 1px solid #fff;
}

#menu li a {
  display: block;
  padding: 10px;
  color: #409a74;
  color: #fff;
  text-decoration: none;
}

#mimg {
  margin-bottom: 3.47%;
}

.main .inner {
  *zoom: 1;
  width: 94.4%;
  margin: 0 auto;
}

.main .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.main .inner p {
  line-height: 1.545;
}

.main .to_top {
  padding: 2.77% 0;
  font-weight: bold;
  background-color: #fac100;
  border-bottom: 2px solid #409a74;
}

.main .to_top a {
  display: block;
  width: 85px;
  padding-left: 30px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  background: url("../img/to_top.png") 0 0 no-repeat;
}

#footer .fnav li {
  display: inline-block;
  width: 49.7%;
  width: calc(50% - 1px);
  border-bottom: 2px solid #409a74;
}

#footer .fnav li:nth-of-type(2n-1) {
  border-right: 1px solid #409a74;
}

#footer .fnav li:nth-of-type(2n) {
  border-left: 1px solid #409a74;
}

#footer .fnav li a {
  display: block;
  padding: 8.33% 0 8.33% 2.77%;
  background: url("../img/mark.gif") 95% center no-repeat;
  background-size: 4.46% auto;
}

#footer .address {
  padding: 3.47% 0;
  padding: 4.166% 0;
  background-color: #eeeeee;
}

#footer .address .inner {
  width: 94.4%;
  margin: 0 auto;
}

#footer .address .inner p:nth-of-type(2) {
  margin: 1.47% 0;
}

#footer .bottom_area {
  background-color: #409a74;
  padding-top: 1.66%;
}

#footer .bottom_area .switch {
  *zoom: 1;
  padding: 5.5% 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background-color: #fff;
}

#footer .bottom_area .switch:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#footer .bottom_area .switch li {
  width: 50%;
  float: left;
}

#footer .bottom_area .switch li a {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

#footer .bottom_area .switch li:first-child a {
  border-right: 2px solid #000;
}

#footer .bottom_area .cc {
  padding: 5.55%;
  text-align: center;
  color: #fff;
}

/* 03.top
-------------------------------------------------- */
#top .inner .t_section {
  margin-bottom: 8.82%;
}

#top .inner #t_works .tw_section {
  *zoom: 1;
  padding: 2.94% 2.94%;
  margin-bottom: 2.94%;
  border: 1px solid #409a74;
}

#top .inner #t_works .tw_section:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#top .inner #t_works .tw_section:last-of-type {
  margin: 0;
}

#top .inner #t_works .tw_section .img {
  float: left;
  width: 31.6%;
}

#top .inner #t_works .tw_section .unit {
  float: right;
  width: 58.8%;
  width: 65%;
}

#top .inner #t_works .tw_section .unit h2 {
  font-weight: bold;
}

@media screen and (min-width: 400px) {
  #top .inner #t_works .tw_section .unit h2 {
    margin-bottom: 3.4%;
    margin-bottom: calc(5% - (((13px * 1.545) - 13px) / 2));
  }
}

@media screen and (max-width: 399px) {
  #top .inner #t_works .tw_section .unit h2 {
    margin-bottom: 3.4%;
    margin-bottom: calc(5% - (((12px * 1.545) - 12px) / 2));
  }
}

#top .inner #t_works .tw_section .unit h2 a {
  color: #409a74;
}

#top .inner #t_works .tw_section .unit h2 a:hover {
  text-decoration: underline;
}

#top .inner #t_news h2 {
  width: 20%;
  margin-bottom: 2.94%;
}

#top .inner #t_news .article_area {
  *zoom: 1;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#top .inner #t_news .article_area:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#top .inner #t_news .article_area .article {
  width: 96%;
  padding-top: 2.94%;
  border-bottom: 1px solid #dcdcdc;
}

@media screen and (min-width: 400px) {
  #top .inner #t_news .article_area .article {
    padding-bottom: calc(2.94% - (((13px * 1.545) - 13px) / 2));
  }
}

@media screen and (max-width: 399px) {
  #top .inner #t_news .article_area .article {
    padding-bottom: calc(2.94% - (((12px * 1.545) - 12px) / 2));
  }
}

#top .inner #t_news .article_area .article:first-of-type {
  border-top: 1px solid #dcdcdc;
}

#top .inner #t_news .article_area .article dl dt {
  margin-bottom: 1.47%;
  color: #409a74;
}

#top .inner #t_news .article_area .article dl dd {
  line-height: 1.545;
}

/* 04.low common
-------------------------------------------------- */
.low .inner {
  *zoom: 1;
  margin-bottom: 13.23%;
}

.low .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.low .inner .l_section {
  *zoom: 1;
  margin-bottom: 6.61%;
}

.low .inner .l_section:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.low .inner .l_section:last-of-type {
  margin: 0;
}

.low .inner .l_section .h3ttl_a {
  margin-bottom: 3.82%;
  margin-bottom: calc(4.41% - (((13px * 1.545) - 13px) / 2));
}

@media screen and (max-width: 399px) {
  .low .inner .l_section .h3ttl_a {
    margin-bottom: 3.82%;
    margin-bottom: calc(4.41% - (((12px * 1.545) - 12px) / 2));
  }
}

.low .inner .l_section .h3ttl_b {
  margin-bottom: 4.41%;
}

.low .inner .l_section .tbl_wrap table {
  width: 100%;
  line-height: 1.545;
}

.low .inner .l_section .tbl_wrap table tr {
  border-bottom: 1px solid #dcdcdc;
}

.low .inner .l_section .tbl_wrap table tr th {
  width: 30%;
}

.low .inner .l_section .tbl_wrap table tr td {
  padding: 18px 0;
  padding-top: calc(22px - (((13px * 1.545) - 13px) / 2));
  padding-bottom: calc(22px - (((13px * 1.545) - 13px) / 2));
}

@media screen and (max-width: 399px) {
  .low .inner .l_section .tbl_wrap table tr td {
    padding: 18px 0;
    padding-top: calc(22px - (((12px * 1.545) - 12px) / 2));
    padding-bottom: calc(22px - (((12px * 1.545) - 12px) / 2));
  }
}

.low .inner .l_section .tbl_wrap table tr:first-of-type td {
  padding-top: 0;
}

/* 05.company
-------------------------------------------------- */
#company .inner {
  margin-bottom: 12.71%;
  margin-bottom: calc(13.23% - (((13px * 1.545) - 13px) / 2));
}

@media screen and (max-width: 399px) {
  #company .inner {
    margin-bottom: 12.75%;
    margin-bottom: calc(13.23% - (((12px * 1.545) - 12px) / 2));
  }
}

#company .inner #section01 .tbl_wrap tr td p:first-of-type {
  margin-bottom: 3%;
}

#company .inner #section02 .gmap {
  position: relative;
  height: 0;
  padding-bottom: 60%;
  margin-bottom: 3.08%;
  margin-bottom: calc(3.67% - (((13px * 1.545) - 13px) / 2));
  overflow: hidden;
}

@media screen and (max-width: 399px) {
  #company .inner #section02 .gmap {
    margin-bottom: 3.08%;
    margin-bottom: calc(3.67% - (((12px * 1.545) - 12px) / 2));
  }
}

#company .inner #section02 .gmap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* 06.recruit
-------------------------------------------------- */
#recruit .inner #section01 .cp {
  width: 82.79%;
  margin-bottom: 3.08%;
  margin-bottom: calc(3.67% - (((13px * 1.545) - 13px) / 2));
}

@media screen and (max-width: 399px) {
  #recruit .inner #section01 .cp {
    margin-bottom: 3.08%;
    margin-bottom: calc(3.67% - (((12px * 1.545) - 12px) / 2));
  }
}

#recruit .inner #section01 .txt_area {
  margin-bottom: 3.08%;
  margin-bottom: calc(3.67% - (((13px * 1.545) - 13px) / 2));
}

@media screen and (max-width: 399px) {
  #recruit .inner #section01 .txt_area {
    margin-bottom: 3.08%;
    margin-bottom: calc(3.67% - (((12px * 1.545) - 12px) / 2));
  }
}

#recruit .inner #section01 .signature {
  float: right;
  width: 33.23%;
}

#recruit .inner #section02 .tbl_wrap .rec_tbl {
  margin-bottom: 6.61%;
}

#recruit .inner #section02 .btn {
  width: 75.88%;
  margin: 0 auto;
}

/* 07.blog
-------------------------------------------------- */
#blog_mimg {
  padding: 5.55% 0 11.1%;
}

#blog_mimg h2 {
  width: 58.33%;
  margin: 0 auto;
}

#blog .inner {
  margin-bottom: 13.23%;
}

#blog .inner .article {
  *zoom: 1;
  padding-bottom: 3.89%;
  padding-bottom: calc(4.41% - (((13px * 1.545) - 13px) / 2));
  margin-bottom: 30px;
  border-bottom: 1px solid #dcdcdc;
}

#blog .inner .article:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 399px) {
  #blog .inner .article {
    padding-bottom: 3.89%;
    padding-bottom: calc(4.41% - (((12px * 1.545) - 12px) / 2));
  }
}

#blog .inner .article h3 {
  margin-bottom: 2.94%;
  font-weight: bold;
  font-size: 14px;
  color: #409a74;
}

#blog .inner .article .date {
  margin-bottom: 2.42%;
  margin-bottom: calc(2.94% - (((13px * 1.545) - 13px) / 2));
  line-height: 1;
  color: #409a74;
}

@media screen and (max-width: 399px) {
  #blog .inner .article .date {
    margin-bottom: 2.42%;
    margin-bottom: calc(2.94% - (((12px * 1.545) - 12px) / 2));
  }
}

#blog .inner .pager .prev {
  float: left;
  width: 17.3%;
}

#blog .inner .pager .next {
  float: right;
  width: 16.9%;
}

/* 08.contact
-------------------------------------------------- */
#contact .inner {
  margin-bottom: 12.71%;
  margin-bottom: calc(13.23% - (((13px * 1.545) - 13px) / 2));
}

@media screen and (max-width: 399px) {
  #contact .inner {
    margin-bottom: 12.75%;
    margin-bottom: calc(13.23% - (((12px * 1.545) - 12px) / 2));
  }
}

#contact .inner #section01 .txt_area {
  margin-bottom: 2.63%;
}

@media screen and (max-width: 399px) {
  #contact .inner #section01 .txt_area {
    margin-bottom: 2.63%;
  }
}

#contact .inner #section01 .txt_area02 {
  *zoom: 1;
  margin-bottom: 5.36%;
  margin-bottom: calc(5.88% - (((13px * 1.545) - 13px) / 2));
  font-weight: bold;
}

#contact .inner #section01 .txt_area02:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 399px) {
  #contact .inner #section01 .txt_area02 {
    margin-bottom: 5.36%;
    margin-bottom: calc(5.88% - (((12px * 1.545) - 12px) / 2));
  }
}

#contact .inner #section01 .tel_btn {
  width: 81.6%;
  margin: 0 auto;
}

#contact .inner #section02 .cnt_tbl_wrap {
  margin-bottom: 5.14%;
}

#contact .inner #section02 .cnt_tbl_wrap table {
  width: 100%;
}

#contact .inner #section02 .cnt_tbl_wrap table tr th {
  display: block;
  width: 50%;
  height: auto;
  margin-bottom: 10px;
  font-weight: bold;
}

#contact .inner #section02 .cnt_tbl_wrap table tr .req {
  padding: 7.5px 0 7.5px 35px;
  background: url("../img/contact/req_icon.gif") 0 center no-repeat;
}

#contact .inner #section02 .cnt_tbl_wrap table tr td {
  display: block;
  margin-bottom: 10px;
}

#contact .inner #section02 .cnt_tbl_wrap table tr td input[type="text"], #contact .inner #section02 .cnt_tbl_wrap table tr td input[type="email"], #contact .inner #section02 .cnt_tbl_wrap table tr td input[type="tel"] {
  width: 99%;
  height: 30px;
  border: 1px solid #9c9c9c;
}

#contact .inner #section02 .cnt_tbl_wrap table tr td select {
  margin-left: 5px;
  border: 1px solid #9c9c9c;
}

#contact .inner #section02 .cnt_tbl_wrap table tr td textarea {
  width: 98%;
  border: 1px solid #9c9c9c;
}

#contact .inner #section02 .cnt_tbl_wrap table tr td ol li span {
  font-weight: bold;
}

#contact .inner #section02 .cnt_tbl_wrap table tr:last-of-type td {
  margin: 0;
}

#contact .inner #section02 .btn_area .mysubmit {
  display: block;
  margin: 0 auto;
  border: none !important;
  background: none !important;
  border-radius: 0 !important;
}

#contact .inner #section02 .btn_area .mysubmit:hover {
  box-shadow: none !important;
}

#contact .inner #section03 .txt01 {
  margin-bottom: 4.48%;
}

@media screen and (max-width: 399px) {
  #contact .inner #section03 .txt01 {
    margin-bottom: 4.92%;
  }
}

#contact .inner #section03 .unit {
  margin-bottom: 1.89%;
  line-height: 1.545;
}

@media screen and (max-width: 399px) {
  #contact .inner #section03 .unit {
    margin-bottom: 1.97%;
  }
}

#contact .inner #section03 .unit:last-of-type {
  margin: 0;
}

#contact .inner #section03 .unit h4 {
  margin-bottom: 0.72%;
}

@media screen and (max-width: 399px) {
  #contact .inner #section03 .unit h4 {
    margin-bottom: 0.8%;
  }
}

#contact .inner #section03 .unit .txt02 {
  margin-bottom: 1.16%;
}

@media screen and (max-width: 399px) {
  #contact .inner #section03 .unit .txt02 {
    margin-bottom: 1.24%;
  }
}

/* 09.works
-------------------------------------------------- */
#works .inner .txt01 {
  margin-bottom: 4.62%;
  margin-bottom: calc(5.14% - (((13px * 1.545) - 13px) / 2));
}

@media screen and (max-width: 399px) {
  #works .inner .txt01 {
    margin-bottom: 4.66%;
    margin-bottom: calc(5.14% - (((12px * 1.545) - 12px) / 2));
  }
}

#works .inner .accordion {
  width: 100%;
}

#works .inner .accordion li {
  margin-bottom: 2.94%;
}

#works .inner .accordion li:last-child {
  margin-bottom: 0;
}

#works .inner .accordion li h3 span {
  display: block;
  background: url("../img/works/mark_off.gif") 97% center no-repeat;
  background-size: 2.79% auto;
}

#works .inner .accordion li h3 .open {
  background: url("../img/works/mark_on.gif") 97% center no-repeat;
  background-size: 5% auto;
}

#works .inner .accordion li .unit {
  display: none;
  padding: 3.67% 0 1.47%;
}

#works .inner .accordion li .unit .box {
  *zoom: 1;
  margin-bottom: 3.67%;
}

#works .inner .accordion li .unit .box:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#works .inner .accordion li .unit .box .img {
  float: left;
  width: 45.58%;
  margin-right: 3.67%;
}

#works .inner .accordion li .unit h4 {
  margin-bottom: 1.97%;
  margin-bottom: calc(2.5% - (((13px * 1.545) - 13px) / 2));
  color: #409a74;
}

@media screen and (max-width: 399px) {
  #works .inner .accordion li .unit h4 {
    margin-bottom: 2.01%;
    margin-bottom: calc(2.5% - (((12px * 1.545) - 12px) / 2));
  }
}

#works .inner .accordion li .unit .txt02 {
  margin-bottom: 3.15%;
  margin-bottom: calc(3.67% - (((13px * 1.545) - 13px) / 2));
  font-weight: bold;
}

@media screen and (max-width: 399px) {
  #works .inner .accordion li .unit .txt02 {
    margin-bottom: 2.01%;
    margin-bottom: calc(3.19% - (((12px * 1.545) - 12px) / 2));
  }
}

#works .inner .accordion li .unit .img02 {
  margin-bottom: 3.67%;
}

#works .inner .accordion li .unit .detail_btn {
  width: 45%;
  margin: 0 auto;
}
