@charset "UTF-8";
/*====================================================================

01.format
02.common
03.top
04.low common
05.works
06.company
07.recruit
08.news
09.blog
10.contact
11.thanks
12.results
13.results（水のトラブル）
14.results（お困りごとはありませんか？）

=====================================================================*/
/* 01.format
-------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-size: 13px;
  line-height: 1;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  color: #1b1b1b;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
  color: #1b1b1b;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

/* 02.common
-------------------------------------------------- */
.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

.inner {
  *zoom: 1;
  width: 980px;
  margin: 0 auto;
}
.inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#header {
  margin-bottom: 3px;
  background: url("../img/header_bg.gif");
}
#header .inner {
  position: relative;
}
#header .inner h1 {
  padding: 6.5px 0;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
}
#header .inner .hlogo {
  width: 353px;
  margin-right: 120px;
  margin-bottom: 45px;
}
#header .inner .unit {
  width: 205px;
  margin-top: 5px;
}
#header .inner .unit .subnav01 a,
#header .inner .unit .subnav02 a {
  display: block;
  padding: 6px 16px;
  border-radius: 2px;
  background-color: #eeeeee;
}
#header .inner .hcnt_btn {
  position: absolute;
  top: 0;
  right: 0;
}
#header .inner #gnav {
  clear: both;
}
#header .inner #gnav ul li {
  float: left;
}

#wrap {
  *zoom: 1;
  width: 980px;
  margin: 0 auto;
}
#wrap:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap .main {
  *zoom: 1;
  float: left;
  width: 715px;
}
#wrap .main:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #sidebar {
  *zoom: 1;
  float: right;
  width: 220px;
}
#wrap #sidebar:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #sidebar .sbnr {
  margin-bottom: 12px;
}
#wrap #sidebar .scnt {
  padding: 25px 20px 16px;
  background: url("../img/scnt_bg.jpg") 0 0 no-repeat;
}
#wrap #sidebar .scnt .txt {
  margin-top: calc(12px - (((13px * 1.538) - 13px) / 2));
  margin-bottom: calc(16px - (((13px * 1.538) - 13px) / 2));
  line-height: 1.538;
}
#wrap #sidebar .scnt .tel {
  margin-bottom: 13px;
}
#wrap #sidebar .scnt .tel span {
  font-size: 22px;
}
#wrap #sidebar .sblog .old_blog a:hover {
  text-decoration: underline;
}
#wrap #sidebar .sblog,
#wrap #sidebar .srst {
  margin-bottom: 40px;
}
#wrap #sidebar .sblog h4,
#wrap #sidebar .srst h4 {
  padding: 11px 16px;
  text-align: center;
  color: #fff;
  background: url("../img/low/sarcttl_bg.gif") 0 0 no-repeat;
}
#wrap #sidebar .sblog ul li,
#wrap #sidebar .srst ul li {
  padding: 15px 0;
  background: url("../img/low/mark.gif") 100% center no-repeat;
  border-bottom: 1px dotted #000;
}
#wrap #sidebar .sblog ul li a:hover,
#wrap #sidebar .srst ul li a:hover {
  text-decoration: underline;
}
#wrap #to_top {
  clear: both;
  float: right;
  width: 72px;
  padding: 100px 0 10px;
}

#footer {
  background: url("../img/footer_bg.gif");
}
#footer .inner {
  position: relative;
  height: 328.5px;
  padding-top: calc(20px - (((13px * 1.538) - 13px) / 2));
}
#footer .inner .txt {
  margin-bottom: calc(35px - (((13px * 1.538) - 13px) / 2));
  line-height: 1.538;
}
#footer .inner #fnav {
  width: 360px;
}
#footer .inner #fnav ul li {
  padding-left: 20px;
  margin-bottom: 13px;
  font-weight: bold;
  background: url("../img/mark02.gif") 0 center no-repeat;
}
#footer .inner #fnav ul li:last-child {
  margin-bottom: 0;
}
#footer .inner #fnav ul li a {
  font-weight: bold;
}
#footer .inner #fnav ul li a:hover {
  text-decoration: underline;
}
#footer .inner .unit {
  width: 280px;
}
#footer .inner .unit dl dt {
  margin-bottom: 12px;
}
#footer .inner .unit dl dd {
  margin-bottom: 12px;
}
#footer .inner .unit dl dd:last-of-type {
  margin-bottom: 20px;
}
#footer .inner .cr {
  clear: both;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding-bottom: 12px;
  text-align: center;
  color: #fff;
}

/* 03.top
-------------------------------------------------- */
#mimg {
  margin-bottom: 50px;
  background: url("../img/top/mimg_bg.jpg") center 0;
}

#wrap #top p {
  line-height: 1.538;
}
#wrap #top .tsection {
  *zoom: 1;
  margin-bottom: 60px;
}
#wrap #top .tsection:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #top .tsection:last-of-type {
  margin-bottom: 0;
}
#wrap #top .tsection .section_ttl {
  padding-top: 15px;
  margin-bottom: 25px;
  background: url("../img/section_ttl_bg.gif") 0 0 no-repeat;
}
#wrap #top #tproduct {
  margin-bottom: calc(60px - (((13px * 1.538) - 13px) / 2));
}
#wrap #top #tproduct ul li {
  float: left;
  width: 215px;
  margin-bottom: calc(15px - (((13px * 1.538) - 13px) / 2));
}
#wrap #top #tproduct ul li:nth-child(3n-1) {
  margin: 0 35px;
  margin-bottom: calc(15px - (((13px * 1.538) - 13px) / 2));
}
#wrap #top #tproduct ul li:nth-child(n+4) {
  margin-bottom: 0;
}
#wrap #top #tproduct ul li .img {
  margin-bottom: 10px;
}
#wrap #top #tproduct ul li h3 {
  padding-left: 18px;
  margin-bottom: calc(15px - (((13px * 1.538) - 13px) / 2));
  font-size: 15px;
  font-weight: bold;
  background: url("../img/top/mark.gif") 0 0 no-repeat;
}
#wrap #top #tproduct ul li h3 a {
  color: #409a74;
}
#wrap #top #tproduct ul li h3 a:hover {
  text-decoration: underline;
}
#wrap #top #tnews .article_area dl {
  *zoom: 1;
  padding: 15px 0;
  border-bottom: 1px dotted #000;
}
#wrap #top #tnews .article_area dl:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #top #tnews .article_area dl dt {
  float: left;
  clear: left;
  padding-right: 50px;
  font-size: 14px;
  font-weight: bold;
  color: #409a74;
}
#wrap #top #tnews .article_area dl dd {
  float: left;
  font-size: 14px;
}
#wrap #top #tnews .article_area dl dd h3 {
  font-weight: normal;
}
#wrap #top #tnews .article_area dl dd h3 a:hover {
  text-decoration: underline;
}
#wrap #top #tnews .article_area article:first-of-type dl {
  padding-top: 0;
}

/* 04.low common
-------------------------------------------------- */
#low_mimg {
  margin-bottom: 12px;
  background: url("../img/low/mimg_bg.jpg") center 0 no-repeat;
}
#low_mimg .inner {
  padding: 60px 0 70px;
}

#breadcrumb {
  width: 980px;
  margin: 0 auto;
  margin-bottom: 12px;
}
#breadcrumb ol {
  text-align: right;
}
#breadcrumb ol li {
  display: inline-block;
}
#breadcrumb ol li a:hover {
  text-decoration: underline;
}

#wrap .low .lsection {
  *zoom: 1;
  margin-bottom: 60px;
}
#wrap .low .lsection:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap .low .lsection:last-of-type {
  margin-bottom: 0;
}
#wrap .low .lsection .section_ttl {
  padding-top: 22px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: lighter;
  color: #443b3c;
  background: url("../img/section_ttl_bg.gif") 0 0 no-repeat;
}
#wrap .low .lsection .stmb {
  margin-bottom: calc(30px - (((13px * 1.692) - 13px) / 2));
}
#wrap .low .lsection .unit_ttl {
  padding: 13.5px 0 13.5px 28px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #409a74;
  background: url("../img/low/h4ttl_bg.jpg") 0 0 no-repeat;
}
#wrap .low .lsection .tbl {
  width: 100%;
  line-height: 1.692;
}
#wrap .low .lsection .tbl tr th {
  width: 165px;
  padding-left: 15px;
  text-align: left;
  font-weight: normal;
  background-color: #f0efef;
  border: 1px solid #cacaca;
}
#wrap .low .lsection .tbl tr td {
  padding-top: calc(15px - (((13px * 1.692) - 13px) / 2));
  padding-bottom: calc(15px - (((13px * 1.692) - 13px) / 2));
  padding-left: 15px;
  border: 1px solid #cacaca;
}

/* 05.works
-------------------------------------------------- */
#wrap #works p {
  line-height: 1.692;
}
#wrap #works #section .txt01 {
  margin-bottom: calc(35px - (((13px * 1.692) - 13px) / 2));
}
#wrap #works #section .unit {
  *zoom: 1;
  position: relative;
  margin-bottom: 30px;
}
#wrap #works #section .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #works #section .unit:last-of-type {
  margin-bottom: 0;
}
#wrap #works #section .unit .box {
  width: 370px;
}
#wrap #works #section .unit .box .txt02 {
  margin-bottom: calc(30px - (((13px * 1.692) - 13px) / 2));
}
#wrap #works #section .unit .box h5 {
  color: #409a74;
  margin-bottom: calc(10px - (((13px * 1.692) - 13px) / 2));
}
#wrap #works #section .unit .box .txt03 {
  margin-bottom: calc(20px - (((13px * 1.692) - 13px) / 2));
}
#wrap #works #section .unit .box .detail_btn a {
  display: block;
  padding: 13px 30px;
  font-weight: bold;
  color: #fff;
  background-color: #409a74;
}
#wrap #works #section .unit:nth-of-type(n+4) .box .detail_btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* 06.company
-------------------------------------------------- */
#wrap #company #section02 .unit {
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px dotted #000;
}
#wrap #company #section02 .unit:last-of-type {
  margin-bottom: 0;
}
#wrap #company #section02 .unit h4 {
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #409a74;
  background: url("../img/mark.gif") 0 0 no-repeat;
}
#wrap #company #section02 .unit .gmap {
  margin-bottom: 20px;
}

/* 07.recruit
-------------------------------------------------- */
#wrap #recruit #section01 .txt_area01 {
  margin-bottom: calc(20px - (((13px * 1.692) - 13px) / 2));
}
#wrap #recruit #section01 .txt_area01 p {
  font-size: 22px;
  font-weight: bold;
}
#wrap #recruit #section01 .txt_area01 .txt {
  margin-bottom: 14px;
}
#wrap #recruit #section01 .txt_area02 {
  margin-bottom: calc(20px - (((13px * 1.692) - 13px) / 2));
}
#wrap #recruit #section01 .txt_area02 p {
  line-height: 1.692;
}
#wrap #recruit #section02 .tbl {
  margin-bottom: 50px;
}
#wrap #recruit #section02 .cnt_btn a {
  display: block;
  width: 302px;
  padding: 23.5px 15px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: url("../img/recruit/cntbtn_bg.jpg") 0 0 no-repeat;
}

/* 08.news
-------------------------------------------------- */
#wrap #news #section .article_area {
  margin-bottom: 40px;
}
#wrap #news #section .article_area dl {
  *zoom: 1;
  padding: 15px 0;
  border-bottom: 1px dotted #000;
}
#wrap #news #section .article_area dl:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #news #section .article_area dl dt {
  float: left;
  clear: left;
  padding-right: 50px;
  font-size: 14px;
  font-weight: bold;
  color: #409a74;
}
#wrap #news #section .article_area dl dd {
  float: left;
  font-size: 14px;
}
#wrap #news #section .article_area dl dd h3 {
  font-weight: normal;
}
#wrap #news #section .article_area dl dd h3 a:hover {
  text-decoration: underline;
}
#wrap #news #section .article_area article:first-of-type dl {
  padding-top: 0;
}
#wrap #news .article .ttl_area {
  *zoom: 1;
  padding-bottom: 15px;
  margin-bottom: calc(25px - (((13px * 1.692) - 13px) / 2));
  font-size: 14px;
  border-bottom: 1px dotted #000;
}
#wrap #news .article .ttl_area:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #news .article .ttl_area .date {
  float: left;
  padding-right: 50px;
  font-weight: bold;
  color: #409a74;
}
#wrap #news .article .ttl_area h3 {
  float: left;
  font-weight: normal;
}
#wrap #news .article .txt_area {
  margin-bottom: calc(50px - (((13px * 1.692) - 13px) / 2));
  line-height: 1.692;
}
#wrap #news .article .return {
  text-align: right;
}
#wrap #news .article .return a:hover {
  text-decoration: underline;
}

/* 09.blog
-------------------------------------------------- */
#blog_mimg {
  margin-bottom: 35px;
}
#blog_mimg .inner {
  padding-top: 22px;
}

#wrap #blog .article {
  margin-bottom: calc(40px - (((13px * 1.692) - 13px) / 2));
}
#wrap #blog .article:last-of-type {
  margin-bottom: 0;
}
#wrap #blog .article h3 {
  padding: 13.5px 0 13.5px 28px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #409a74;
  background: url("../img/low/h4ttl_bg.jpg") 0 0 no-repeat;
}
#wrap #blog .article .date {
  margin-bottom: calc(15px - (((13px * 1.692) - 13px) / 2));
  text-align: right;
  color: #409a74;
}
#wrap #blog .article .txt_area {
  line-height: 1.692;
}
#wrap #blog .pager_area {
  margin-top: 70px;
}
#wrap #blog .pager_area ul {
  text-align: right;
}
#wrap #blog .pager_area ul li {
  display: inline-block;
  border: 1px solid #cacaca;
  border-radius: 5px;
}
#wrap #blog .pager_area ul li .current {
  display: block;
  padding: 15px;
}
#wrap #blog .pager_area ul li .inactive {
  display: block;
  padding: 15px;
}
#wrap #blog .pager_area ul li .inactive:hover {
  text-decoration: underline;
}
#wrap #blog .pager_area ul .active {
  background-color: #409a74;
  color: #fff;
}
#wrap #blog .pager_area ul .ba a {
  display: block;
  padding: 15px;
}
#wrap #blog .pager_area ul .ba a:hover {
  text-decoration: underline;
}

/* 10.contact
-------------------------------------------------- */
#wrap #contact p {
  line-height: 1.692;
}
#wrap #contact #section01 .txt_area01 {
  margin-bottom: calc(25px - (((13px * 1.692) - 13px) / 2));
}
#wrap #contact #section01 .tel_area {
  padding-left: 75px;
  margin-bottom: calc(35px - (((13px * 1.692) - 13px) / 2));
  background: url("../img/contact/tel_icon.gif") 0 0 no-repeat;
}
#wrap #contact #section01 .tel_area p {
  line-height: 1;
  color: #409a74;
}
#wrap #contact #section01 .tel_area .tel {
  padding-top: 15px;
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: bold;
}
#wrap #contact #section01 .txt_area02 {
  margin-bottom: calc(30px - (((13px * 1.692) - 13px) / 2));
}
#wrap #contact #section01 .txt_area02 p {
  padding-left: 1em;
  text-indent: -1em;
}
#wrap #contact #section01 .tbl_wrap {
  margin-bottom: 30px;
}
#wrap #contact #section01 .tbl_wrap table {
  width: 100%;
}
#wrap #contact #section01 .tbl_wrap table tr th {
  width: 195px;
  padding: 15px 15px 15px 0;
  text-align: right;
  vertical-align: middle;
  border: 1px solid #cacaca;
  background-color: #f0efef;
}
#wrap #contact #section01 .tbl_wrap table tr .req {
  background: #f0efef url("../img/contact/required.gif") 15px center no-repeat;
}
#wrap #contact #section01 .tbl_wrap table tr td {
  padding: 15px 0 15px 20px;
  border: 1px solid #cacaca;
}
#wrap #contact #section01 .tbl_wrap table tr td ol .city {
  margin: 5px 0;
}
#wrap #contact #section01 .confirm_btn {
  width: 98px;
  margin: 0 auto;
}
#wrap #contact #section01 .confirm_btn .mysubmit {
  border: none !important;
  background: none !important;
  border-radius: 0 !important;
}
#wrap #contact #section01 .confirm_btn .mysubmit:hover {
  box-shadow: none !important;
}
#wrap #contact #section02 .txt {
  margin-bottom: calc(30px - (((13px * 1.692) - 13px) / 2));
}
#wrap #contact #section02 .unit {
  margin-bottom: calc(30px - (((13px * 1.692) - 13px) / 2));
}
#wrap #contact #section02 .unit h4 {
  margin-bottom: calc(10px - (((13px * 1.692) - 13px) / 2));
}
#wrap #contact #section02 .unit:last-of-type {
  margin-bottom: 0;
}

/* 11.thanks
-------------------------------------------------- */
#wrap #thanks #section .txt_area {
  padding-top: calc(20px - (((13px * 1.846) - 13px) / 2));
  padding-bottom: calc(20px - (((13px * 1.846) - 13px) / 2));
  padding-left: 15px;
  border: 1px solid #409a74;
}
#wrap #thanks #section .txt_area p {
  line-height: 1.846;
}
#wrap #thanks #section .txt_area .txt {
  margin-bottom: calc(20px - (((13px * 1.846) - 13px) / 2));
}

/* 12.results
-------------------------------------------------- */
#wrap #results p {
  line-height: 1.538;
}
#wrap #results .pager_area {
  margin-top: 70px;
}
#wrap #results .pager_area ul {
  text-align: right;
}
#wrap #results .pager_area ul li {
  display: inline-block;
  border: 1px solid #cacaca;
  border-radius: 5px;
}
#wrap #results .pager_area ul li .current {
  display: block;
  padding: 15px;
}
#wrap #results .pager_area ul li .inactive {
  display: block;
  padding: 15px;
}
#wrap #results .pager_area ul li .inactive:hover {
  text-decoration: underline;
}
#wrap #results .pager_area ul .active {
  background-color: #409a74;
  color: #fff;
}
#wrap #results .pager_area ul .ba a {
  display: block;
  padding: 15px;
}
#wrap #results .pager_area ul .ba a:hover {
  text-decoration: underline;
}
#wrap #results #section .section_ttl {
  position: relative;
}
#wrap #results #section .section_ttl span a {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
}
#wrap #results #section .section_ttl span a:hover {
  text-decoration: underline;
}
#wrap #results #section .section_in {
  *zoom: 1;
  margin-bottom: 25px;
  border: 2px solid #348764;
}
#wrap #results #section .section_in:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #results #section .section_in:last-of-type {
  margin-bottom: 0;
}
#wrap #results #section .section_in .h4ttl {
  padding: 12.5px 0 12.5px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: url("../img/results/h4ttl_bg.jpg") 0 0 no-repeat;
}
#wrap #results #section .section_in .section_body {
  *zoom: 1;
  padding-top: calc(18px - (((13px * 1.538) - 13px) / 2));
  padding-right: 15px;
  padding-bottom: calc(18px - (((13px * 1.538) - 13px) / 2));
  padding-left: 15px;
}
#wrap #results #section .section_in .section_body:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #results #section .section_in .section_body .txt {
  float: left;
  width: 510px;
}
#wrap #results #section .section_in .section_body .detail_btn {
  float: right;
}
#wrap #results #section .unit {
  *zoom: 1;
  margin-bottom: 25px;
}
#wrap #results #section .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #results #section .unit:last-of-type {
  margin-bottom: 0;
}
#wrap #results #section .unit:last-of-type .catalog {
  padding-bottom: 0;
}
#wrap #results #section .unit .img_area02 li {
  float: left;
  width: 175px;
  margin: 0 5px 5px 0;
}
#wrap #results #section .unit .img_area02 li:nth-child(4n) {
  margin-right: 0;
}
#wrap #results #section .unit .tbl_rst {
  width: 100%;
}
#wrap #results #section .unit .tbl_rst tr:nth-of-type(2n) {
  background-color: #f0efef;
}
#wrap #results #section .unit .tbl_rst tr th {
  width: 150px;
  padding: 18px 0 18px 15px;
  text-align: left;
  font-weight: normal;
}
#wrap #results #section .unit .tbl_rst tr td:first-of-type {
  width: 385px;
}
#wrap #results #section .unit .tbl_rst tr:first-of-type th {
  padding-top: 5px;
}
#wrap #results #section .unit .cp {
  margin-bottom: calc(30px - (((16px * 1.538) - 16px) / 2));
  font-weight: bold;
  font-size: 16px;
}
#wrap #results #section .unit .txt_area {
  margin-bottom: calc(30px - (((13px * 1.538) - 13px) / 2));
}
#wrap #results #section .unit .txt_area p:nth-of-type(2n-1) {
  margin-bottom: calc(8px - (((13px * 1.538) - 13px) / 2));
  line-height: 1;
  font-weight: bold;
}
#wrap #results #section .unit .txt_area p:nth-of-type(2n) {
  margin-bottom: calc(10px - (((13px * 1.538) - 13px) / 2));
}
#wrap #results #section .unit .txt_area p:last-of-type {
  margin-bottom: 0;
}
#wrap #results #section .unit .catalog {
  padding-bottom: 25px;
  margin-bottom: 30px;
}
#wrap #results #section .unit .catalog p:first-of-type {
  margin-bottom: 10px;
  line-height: 1;
  font-weight: bold;
}
#wrap #results #section .unit .catalog p img {
  vertical-align: middle;
}
#wrap #results #section .unit .img_area {
  *zoom: 1;
}
#wrap #results #section .unit .img_area:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #results #section .unit .img_area p {
  margin-bottom: calc(20px - (((13px * 1.538) - 13px) / 2));
  font-weight: bold;
}
#wrap #results #section .unit .img_area ul li {
  float: left;
  width: 230px;
  /*height: auto;
  padding: 0;*/
  margin-bottom: 8px;
}
#wrap #results #section .unit .img_area ul li:nth-child(3n-1) {
  margin: 0 8px 8px;
}

/* 13.results（水のトラブル）
-------------------------------------------------- */
#wrap #results p {
  line-height: 1.692;
}
#wrap #results #wtrb_section .intro_area {
  *zoom: 1;
  margin-bottom: 40px;
}
#wrap #results #wtrb_section .intro_area:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #results #wtrb_section .intro_area .txt_area01 {
  width: 435px;
}
#wrap #results #wtrb_section .intro_area .txt_area01 ul {
  margin-top: calc(10px - (((13px * 1.692) - 13px) / 2));
  margin-bottom: calc(10px - (((13px * 1.692) - 13px) / 2));
}
#wrap #results #wtrb_section .intro_area .txt_area01 ul li {
  margin-bottom: 10px;
}
#wrap #results #wtrb_section .intro_area .txt_area01 ul li:last-child {
  margin-bottom: 0;
}
#wrap #results #wtrb_section .unit {
  *zoom: 1;
  margin-bottom: 25px;
}
#wrap #results #wtrb_section .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #results #wtrb_section .unit:last-of-type {
  margin-bottom: 0;
}
#wrap #results #wtrb_section .unit .txt {
  margin-bottom: calc(17px - (((13px * 1.692) - 13px) / 2));
}
#wrap #results #wtrb_section .unit .trb_list {
  width: 488px;
  padding: 20px 0 20px 20px;
  margin-bottom: calc(25px - (((13px * 1.692) - 13px) / 2));
  background-color: #f0efef;
  border: 1px solid #409a74;
}
#wrap #results #wtrb_section .unit .trb_list li {
  margin-bottom: 10px;
}
#wrap #results #wtrb_section .unit .trb_list li:last-of-type {
  margin-bottom: 0;
}
#wrap #results #wtrb_section .unit .trb_list li span {
  color: #409a74;
}
#wrap #results #wtrb_section .unit .txt_area02 {
  margin-bottom: calc(20px - (((13px * 1.692) - 13px) / 2));
}
#wrap #results #wtrb_section .unit .txt_area03 {
  margin-bottom: 30px;
}
#wrap #results #wtrb_section .unit .txt_area03 p {
  margin-bottom: 10px;
  line-height: 1;
  font-size: 19px;
  font-weight: bold;
}
#wrap #results #wtrb_section .unit .txt_area03 p:last-of-type {
  margin-bottom: 0;
}
#wrap #results #wtrb_section .unit .box {
  *zoom: 1;
  padding: 20px 20px;
  margin-bottom: 15px;
  background-color: #f0efef;
}
#wrap #results #wtrb_section .unit .box:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #results #wtrb_section .unit .box:last-of-type {
  margin-bottom: 0;
}
#wrap #results #wtrb_section .unit .box .box_in {
  width: 430px;
  height: 145px;
}
#wrap #results #wtrb_section .unit .box .box_in h5 {
  margin-bottom: 18px;
  font-size: 15px;
  font-weight: bold;
  color: #409a74;
}
#wrap #results #wtrb_section .unit .box .box_in ul li {
  display: inline-block;
  margin-bottom: 10px;
}
#wrap #results #wtrb_section .unit .box .img {
  padding-top: 5px;
}

/* 14.results（お困りごとはありませんか？）
-------------------------------------------------- */
#wrap #results p {
  line-height: 1.692;
}
#wrap #results #trb_section .section_in {
  *zoom: 1;
  margin-bottom: 25px;
  border: 2px solid #348764;
}
#wrap #results #trb_section .section_in:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #results #trb_section .section_in:last-of-type {
  margin-bottom: 0;
}
#wrap #results #trb_section .section_in .h4ttl {
  padding: 12.5px 0 12.5px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: url("../img/results/h4ttl_bg.jpg") 0 0 no-repeat;
}
#wrap #results #trb_section .section_in .section_body {
  *zoom: 1;
  padding-top: calc(18px - (((13px * 1.538) - 13px) / 2));
  padding-right: 15px;
  padding-bottom: calc(18px - (((13px * 1.538) - 13px) / 2));
  padding-left: 15px;
}
#wrap #results #trb_section .section_in .section_body:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #results #trb_section .section_in .section_body .txt {
  float: left;
  width: 510px;
}
#wrap #results #trb_section .section_in .section_body .detail_btn {
  float: right;
}
#wrap #results #trb_section .unit .txt01 {
  margin-bottom: calc(30px - (((13px * 1.692) - 13px) / 2));
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
}
#wrap #results #trb_section .unit .txt_area01 {
  margin-bottom: calc(35px - (((13px * 1.692) - 13px) / 2));
}
#wrap #results #trb_section .unit .box {
  *zoom: 1;
  margin-bottom: 20px;
}
#wrap #results #trb_section .unit .box:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#wrap #results #trb_section .unit .box:last-of-type {
  margin-bottom: 0;
}
#wrap #results #trb_section .unit .box h5 {
  margin-bottom: 10px;
}
#wrap #results #trb_section .unit .box .h5ttl {
  margin-bottom: calc(10px - (((13px * 1.692) - 13px) / 2));
}
#wrap #results #trb_section .unit .box .txt02 {
  margin-bottom: calc(20px - (((13px * 1.692) - 13px) / 2));
}
#wrap #results #trb_section .unit .box .img {
  margin-bottom: 20px;
}
#wrap #results #trb_section .unit .box .img_area img:first-of-type {
  margin-right: 7px;
}
#wrap #results #trb_section .unit .box ul {
  margin-bottom: calc(30px - (((13px * 1.692) - 13px) / 2));
}
#wrap #results #trb_section .unit .box ul li {
  margin-bottom: 10px;
}
#wrap #results #trb_section .unit .box ul li:last-of-type {
  margin-bottom: 0;
}
#wrap #results #trb_section .unit .box .txt_area02 {
  margin-bottom: calc(30px - (((13px * 1.692) - 13px) / 2));
}
